.bg-container {
  background-color: #ffffff;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-direction: center;
  align-items: center;
}
.card-container {
  background-image: linear-gradient(#ff6e71, #bfe9ff);
  width: 50vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 100px;
  border-radius: 15px;
  font-family: 'Roboto';
}
.heading {
  font-size: 50px;
  color: #000000;
  font-weight: bold;
}
.paragraph {
  color: #334155;
  font-size: 30px;
}
.button {
  padding: 10px;
  border-radius: 10px;
  color: #1e293b;
  font-size: 20px;
  border-width: 0px;
}
.paragraph2 {
  color: #334155;
  font-size: 20px;
}
